{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

{% if page.cover-img %}
  <div id="header-big-imgs" data-num-img={% if page.cover-img.first %}{{ page.cover-img.size }}{% else %}1{% endif %}
    {% for bigimg in page.cover-img %}
    {% assign imgnum = forloop.index %}
    {% for imginfo in bigimg %}
    {% if imginfo[0] %}
      data-img-src-{{ imgnum }}="{{ imginfo[0] | absolute_url }}"
      data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
    {% else %}
      data-img-src-{{ imgnum }}="{{ imginfo | absolute_url }}"
    {% endif %}
    {% endfor %}
    {% endfor %}
  ></div>
{% endif %}

<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl | prepend: site.url }}">
        <span class="site-title">
          <span class="red-word">Red</span>
          <span class="ackee-word">Ackee</span>
          <span class="software-word">Software</span>
        </span>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      {% include nav.html %}
    </div>
  </div>
</header>

<div class="intro-header {% if page.cover-img %} big-img {% endif %}">
  {% if page.cover-img or page.title %}
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}
            <span class="site-title">
              <span class="red-word">Red</span>
              <span class="ackee-word">Ackee</span>
              <span class="software-word">Software</span>
            </span>
          {% else %}<br/>{% endif %}</h1>
          {% if page.subtitle %}
            {% if include.type == "page" %}
              <hr class="small">
              <span class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</span>
            {% else %}
              <h2 class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</h2>
            {% endif %}
          {% endif %}
          
          {% if include.type == "post" %} 
            {% if page.author %}
              By <strong>{{ page.author | strip_html }}</strong><br>
            {% endif%}
            <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
            {% if page.last-updated %}
              <span class="post-meta">
                <span class="d-none d-md-inline middot">&middot;</span>
                Last updated {{ page.last-updated | date: date_format }}
              </span>
            {% endif %}
            {% if page.readtime %}
              {% include readtime.html %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if page.cover-img %}<span class='img-desc'></span>{% endif %}
</div>

{% if page.header-extra %}
  {% for file in page.header-extra %}
    {% include {{ file }} %}
  {% endfor %}
{% endif %}
